#shopping-cart /*#order-summary*/{
    border-radius: 5px;
    border: 3px solid var(--tertiary-color);
    padding: 10px;
    background-color: white;
}
#shopping-cart{
    width: 700px;
    height: auto;
    margin-bottom: 20px;
}
#order-summary{
    width: 350px;
    height:auto;
}
#order-summary td{
    padding: 10px;
}
#shopping-cart img{
    width: 96px;
    height: 150px;
}
#shopping-cart td, #order-summary td{
    text-align: center;
}
.shopping-section{
    display:flex;
    flex-direction: row;
    justify-content: space-between; /*used this instead of gap for reszing the browser*/
    align-items: flex-start;
}
#order-summary{
    margin-top: 0;
}
.summary{
    border: 3px solid var(--tertiary-color);
    border-radius: 8px;
    padding: 20px;
    background-color: white;
}
.cart-items h1, .summary h1{
    color: var(--tertiary-color);
    background-color: white;
    padding: 10px;
    text-align:center;
}
button{
    background-color: var(--button-color);
    color: var(--mainbg-color);
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    transition-duration:0.4s;/*A cleaner transtion instead of static*/
    
}
button:hover{
    background-color: var(--mainbg-color);
    color: var(--button-color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

