#wishlist-page {
    padding: 20px;
}

.wishlist-container {
    text-align: left;
   
    
}

.book-card {
    display:inline-block;
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
    text-align: center;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    
}
.book-card button {
    padding: 10px 14px;
    margin: 6px 4px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}
.wishlist-subtitle {
    color: #6d5b63;
    margin-bottom: 25px;
    font-size: 18px;
}

.book-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
#about-page {
    padding: 40px;
}

.about-hero {
    text-align: center;
    padding: 40px 20px;
}

.about-hero h1 {
    font-size: 42px;
    color: #7B0D1E;
    margin-bottom: 10px;
}

.about-hero p {
    font-size: 18px;
    color: #5c4a52;
}



.about-text h2 {
    color: #9f2042;;
    margin-top: 20px;
}

.about-image img {
    width: 320px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

.about-values {
    text-align: center;
    margin-top: 50px;
}

.about-values h2 {
    color: #7B0D1E;
    margin-bottom: 30px;
}



.value-card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    width: 260px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.value-card h3 {
    color:#7B0D1E ;
    margin-bottom: 10px;
}

.team-section {
    text-align: center;
    margin-top: 50px;
    padding: 30px;
    background-color: #fff4f7;
    border-radius: 12px;
}