#book-month-page{
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
}

.book-month-banner{
    text-align: center;
    margin-bottom: 30px;
}

.book-month-banner h1{
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

.book-month-banner p{
    font-size: 18px;
}

.book-feature-card{
    display: flex;
    gap: 30px;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.book-image-section{
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.book-image-section img{
    width: 250px;
    height: 380px;
    border-radius: 8px;
}

.book-info-section{
    flex: 2;
    min-width: 280px;
}

.book-info-section h2{
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

.author{
    font-size: 18px;
    margin-bottom: 10px;
}

.price{
    font-size: 22px;
    font-weight: bold;
    color: var(--button-color);
    margin-bottom: 15px;
}

.description{
    line-height: 1.6;
    margin-bottom: 20px;
}

#recommend-btn{
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
}

#recommend-btn:hover{
    background-color: var(--tertiary-color);
}

#recommend-text{
    font-weight: bold;
    color: var(--tertiary-color);
}

.book-extra-info{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.info-box{
    flex: 1;
    min-width: 200px;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.info-box h3{
    color: var(--button-color);
    margin-bottom: 10px;
}

.info-box p{
    font-size: 18px;
}