:root{

}

.books img{
    width: 115.2px;
    height: 180px;
}
.books{
    padding:10px;
    width:200px;
    height: 400px;
}
.books p{
    width: 125px;
    
}
.team-fav-books, .best-seller, .classics{
    display:flex;
    flex-direction: row;
}


.slideshow{
    box-sizing:border-box;
    max-width: 1080px;
    position:relative;
    margin: auto;
}
.slide{
    display:none;
}
.previous, .next{
    position: absolute;
    top: 50%;

    width: auto;
    margin-top: -22px; 
    padding: 10px;
    
    color: var(--tertiary-color);

    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease; 
    user-select: none; /*wheter or not user can select text*/
}
.next{
    right: 0;
    border-radius: 3px 0px 0px 3px;
}
.previous:hover, .next:hover{
    background-color: lavenderblush;
}
.slide p{
    color: white;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    height: 15px;
    width: 15px;
    margin:2px;
    background-color: var(--tertiary-color);
    border-radius:50%;
    display: inline;
    transition: background-color 0.6 ease; 
}

.slide img{
    width: 100%;
    height:fit-content;
}

.featured-ad img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* width: 1080px;
    height: fit-content; */
}
button{
    background-color: var(--button-color);
    color: var(--mainbg-color);
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    transition-duration:0.4s;/*A cleaner transtion instead of static*/
    
}
button:hover{
    background-color: var(--mainbg-color);
    color: var(--button-color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
#heart-icon{
    width:32px;
    height: 32px;
}
main{
    margin:0px 30px 0px 30px;
}
h1{
    background-color: white;
    color: var(--tertiary-color);
    border-radius: 8px;
    padding: 10px;
}
.bottom-section{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}
.WSWU h2, .newsletter h2{
    color: var(--tertiary-color);
}
.newsletter input[type=email]{
    margin: 10px 0px 10px 0px;
    border-radius:8px;
    padding:10px;
}
